<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.lee.app.mapper.CmsHomeServcieItemMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.lee.app.model.CmsHomeServcieItem" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="CHAR" />
    <result column="icon" property="icon" jdbcType="CHAR" />
  </resultMap>
</mapper>